.card{
    display: flex !important;
    width: 81vh !important;
    height: 90px;
    margin-bottom: 15px;
}

.flag {
    object-fit: cover;
    width: 24%;
    height: 90px;

    -webkit-box-shadow: 15px -2px 23px -15px rgba(0,0,0,0.68);
    -moz-box-shadow: 15px -2px 23px -15px rgba(0,0,0,0.68);
    box-shadow: 15px -2px 23px -15px rgba(0,0,0,0.68);
}

.content {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    margin-left: 2vh !important;
    justify-content: space-between;
}

.capitalCity {
    margin-top: -12px;
}    

@media (max-width: 770px) {
    .card {
        width: 100% !important;
        margin-bottom: 25px;
    }

    .flag {
        width: 37%;
    }
}