body {
    background-color: rgba(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 30vh;
    margin-top: 2vh;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .logo {
        width: 100%;
    }
}